#temperature{
    
    border: 40px black solid;
    border-image: url(cloudBorder.png) 100;
    border-right: none;
    border-radius: 25%;
    font-size: 4em;
    text-align: center;
    padding-top: 1%;
    font-family: 'Tajawal', sans-serif;
}
#weatherInfo{
    
    border: 40px black solid;
    border-image: url(cloudBorder.png) 100;
    border-image-repeat: round;
    border-left: none;
    border-radius: 25%;
    font-family: 'Tajawal', sans-serif;
}

#weatherType{
    text-align: center;
}

#icon{
    text-align: center;
}

#sunset{
    text-align: center;
}
